<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/agregaractivo.css">
  <title>Formulario de registro de artículo</title>
</head>
<body>
  <header class="header"> <!--necesario tener las etiquetas para que se inserte el menu del JS-->
  </header>
<main class="main">
  <form>
    <h1 style="text-align: center;">Registro de Activos</h1>
    <input type="text" placeholder="IdActivo" required>
    <input type="text" placeholder="Serie" required>
    <input type="text" placeholder="Marca" required>
    <input type="text" placeholder="Tag" required>
    <input type="text" placeholder="PO" required>
    <input type="text" placeholder="RAM" required>
    <input type="text" placeholder="Categoría" required>
    <input type="text" placeholder="Entidad" required>
    <input type="text" placeholder="Estado" required>
    <input type="text" placeholder="idEmpleado" required>
    <input class="button" type="button" value="Ingresar">
    <input class="buttonC" type="button" value="Cancelar">
  </form>
</main>
  <footer class="footer">
  </footer>
<script src="../assets/js/templateHnF.js"></script>
</body>
</html>