<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/styles.css">
    <link rel="stylesheet" href="../assets/empleados.css">
    <title>Activos</title>
</head>
<body>
  <header > <!--necesario tener las etiquetas para que se inserte el menu del JS-->
  </header>
  <main class="main">
    <section class="mt-4 employees_box">
      <div class="table_box">
        <div class="table_box_d">
        <table class="table_t">
            <thead class="table_head">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">FECHA</th>
                  <th scope="col">ACCION</th>
                  <th scope="col">SERIE</th>
                  <th scope="col">Usuario</th>
                </tr>
                
             </thead>
            
            <tbody id="bitacoras">   
           
            </tbody>
            
        </table>
      </div>
    </section>  
  </main>
    <footer>
    </footer>
       
    <script src="../assets/js/bitacora.js"></script>
    <script src="../assets/js/header.js"></script>
    <script src="../assets/js/footer.js"></script>
</body>
</html>