<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles.css?v=<?php echo(rand()); ?>">
    <link rel="stylesheet" href="../assets/empleados.css?v=<?php echo(rand()); ?>">
    <title>Empleados</title>
</head>
<body>
  <header > <!--necesario tener las etiquetas para que se inserte el menu del JS-->
  </header>
  <main class="main">
    <section class="mt-4 employees_box">
      <div class="table_box">
        <div class="table_box_d">
        <table class="table_t">
            <thead class="table_head">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">CORREO</th>
                    <th scope="col">WWID</th>
                    <th scope="col">MODIFICAR</th>
                    <th scope="col">ELIMINAR</th>
                </tr>
                
             </thead>
            
            <tbody id="empleados">   
           
            </tbody>
            
        </table>
        </div>
        <div class="button_add_box">
          <button type="button" id="botonRegistro" class="button_add" onclick="registroEmpleado()">AGREGAR EMPLEADO</button>
        </div>

      
        </div>
      </div>
    </section>  
  </main>
    <footer>
    </footer>
       
    <script src="../assets/js/templateHnF.js?v=<?php echo(rand()); ?>"></script>
    <script src="https://kit.fontawesome.com/947bdf3007.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../assets/js/empleados.js?v=<?php echo(rand()); ?>"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>