<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles.css">
    <link rel="stylesheet" href="../assets/empleados.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   
    <title>Empleados</title>
</head>
<body>
    <section class="mt-4 employees_box">
      <div class="table_box">
        <div>
        <table class="table_t">
            <thead class="table_head">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">CORREO</th>
                    <th scope="col">WWID</th>
                    <th scope="col">MODIFICAR</th>
                    <th scope="col">ELIMINAR</th>
                </tr>
                
             </thead>
            
            <tbody id="empleados">   
          
            </tbody>
            
        </table>
        <div class="button_add_box">
          <button type="button" class="button_add">Agregar Empleado</button>
        </div>
        <form id="empleadoForm">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required><br>
          <label for="correo">correo:</label>
          <input type="text" id="correo" name="correo" required><br>
          <label for="wwid">wwid:</label>
          <input type="text" id="wwid" name="wwid" required><br>
          <input type="submit" value="Enviar">
        </form>
        </div>
      </div>
    </section>  
       
    <script src="https://kit.fontawesome.com/947bdf3007.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../assets/js/empleados.js"></script>
</body>
</html>