<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/styles.css" />
    <title>Inicio</title>
  </head>
  <body>
    <header>
      <!--necesario tener las etiquetas para que se inserte el menu del JS-->
    </header>

    <main class="main">
      <title>"Bienvenido"</title>
      <h1>Bienvenido</h1>
      <div id="userinfo">
        <!-- Muestra la información del usuario si ha iniciado sesión -->
        <script>
          window.onload = async function () {
            const response = await fetch(
              "../controllers/loginController.php?action=get_session_data"
            );
            const data = await response.json();

            const userInfo = document.getElementById("userinfo");

            if (data.isLoggedIn) {
              userInfo.innerHTML = `${data.userName}`;
            } else {
              userInfo.innerHTML = "You are not logged in.";
            }
          };
        </script>
      </div>
    </main>

    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11?v=<?php echo(rand()); ?"></script>
    <script src="../assets/js/header.js"></script>
    <script src="../assets/js/footer.js"></script>
    <!-- Template para el header y el footer-->
  </body>
</html>
