<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles.css">
    <title>Inicio</title>
  </head>
  <body>
    <header class="header">
      <div>
        <a href="#" class="logo">Intel Costa Rica</a> 
      </div>
      <nav class="navigation">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Activos</a>
            <ul>
              <li><a href="#">Opcion 1</a></li>
              <li><a href="#">Opcion 2</a></li>
              <li><a href="#">Opcion 3</a></li>
            </ul>
          </li>
          <li><a href="#">Movimientos</a>
          <ul>
            <li><a href="#">Opcion 1</a></li>
            <li><a href="#">Opcion 2</a></li>
            <li><a href="#">Opcion 3</a></li>
          </ul>
          </li>
          <li><a href="#">Cerrar Sesion</a></li>
        </ul>
      </nav>
    </header>

    <div class="image">
      <img src="../img/Intel_logo.svg" alt="Intel Logo">
    </div>

  </body>
</html>
