<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../assets/styles.css">
  <link rel="stylesheet" href="../assets/login.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">



  <title>Login</title>
</head>

<body>
  <header></header><!--necesario tener las etiquetas para que se inserte el menu del JS-->


  <main class="main">

    <div class="centro">
      <h1> <!-- Implememtacion del boton  -->
        <button>
          L  O  G  I  N
        </button>
        
      </h1> <!-- Fin de la implementacion del boton -->
     
      <form method="post">
        <div class="Campo_txt">
          <input type="text" required>
          <span></span>
          <label>Usuario</label>
        </div>
        <div class="Campo_txt">
          <input type="password" required>
          <span></span>
          <label>Contraseña</label>
        </div>
        <div class="aprobar">Olvido su contraseña?</div>
        <input type="submit" value="Login">
        <div class="Registrarse">
          No es un miembro? <a href="#">
            Regístrate</a>
        </div>
      </form>
    </div>

  </main>

  <footer>
    <script src="../assets/js/templateHnF.js"></script> <!-- Template para el header y el footer-->
  </footer>


</body>

</html>