<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles.css">
    <link rel="stylesheet" href="../assets/registroUsuarios.css">
    <title>Registro de Usuarios</title>
</head>
<body>
    <header>
    </header>
    <main>
        <form>
            <h1 style="text-align: center;">Registro de Usuarios
            </h1>
            <input type="text" class="text" placeholder="Identificacion" required>
            <input type="text" class="text" placeholder="Nombre de Usuario" required>
            <input type="email" class="email" placeholder="Correo Electronico" required>
            <input class="button" type="button" value="Ingresar">
            <input class="buttonC" type="button" value="Cancelar">
          </form>
    </main>
    <footer>

    </footer>
</body>
<script src="../assets/js/templateHnF.js"></script>
</html>