/*
Inicio de CSS
*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-image: url('../img/intel3.webp');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/*body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../img/intel3.webp');
  background-size: cover;
  background-position: center;
}*/
.formReg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 10px;
  color: black;
}

form {
  width: 500px;
  padding: 20px;
}

input[type="text"], select {
  color: black;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer; /*Cambia el puntero por una manita cuando esta encima*/
}

/*inicia el diseño del menu de navegacion*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(16,77,148);
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo{
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  margin-left: 25px;
}

.navigation ul{
  list-style: none;

}

.header .navigation ul li{
  float: left;
  position: relative;
  margin-right: 25px;
}

.header .navigation ul li a{
font-size: 18px;
color: #ffffff;
text-decoration: none;
padding: 20px;
display: block;
transition: all .2s ease;
}
.header .navigation ul li a:hover{
  background-color:lightblue;

}

.header .navigation ul li ul{
position: absolute;
right: 0;
width: 300px;
background: rgb(16,77,148);
display: none;
}

.header .navigation ul li ul li a{
  font-size: 15px;
  text-transform: capitalize;
}

.header .navigation ul li ul li ul{
  position: absolute;
  top: 0;
  right: 300px;
}
.header .navigation ul li ul li {
  width: 100%;
}
.header .navigation ul li:hover > ul{
display: initial;
}
.menu{
  width: 45px;
  height: 35px;
}
/*fin diseño del menu de navegación*/

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.3);
  color: black;
  

}

form {
  width: 500px;
  padding: 20px;
}

input[type="text"],
select {
  color: black;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  width: 20%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.footer {
  background-color: #333333;
  color: white;
  padding: 30px 0;
  text-align: center;
}

.footer .footer-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer .footer-info h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer .contact-info p {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer .social-media .social-icons a {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.footer .social-media .social-icons a:hover {
  transform: scale(1.1);
}

.footer .social-media .social-icons img {
  width: 24px;
  height: 24px;
}

.footer p {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer .contact-info, .footer .social-media {
  flex-basis: 50%;
  max-width: 50%;
}

@media only screen and (max-width: 768px) {
  .footer .footer-info {
    flex-direction: column;
  }
  
  .footer .contact-info, .footer .social-media {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}


.buttonC{
  margin-top: 10px;
  width: 20%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}