*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary: rgb(16, 77, 148) ;
  --secondary: #A6C1DE;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.titulo_gestion_container{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
 
  margin-bottom: 20px;
}
 
 
.intel_logo{
  background-color: white;
  padding: 23.7px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.titulo_gestion{
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 24px;
  background-color: var(--secondary);
  width: 50%;
}
.buscador_container{
  
  padding: 15px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buscador{
  padding: 14px;
  font-size: 15px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid #a6c1de;
 
}
.icons_container1{
  margin-right: 15px;
}
.icons_container2{
  margin-left: 15px;
}
.employees_box {
  background-color:rgb(16, 77, 148);
  padding: 50px;
  border-radius: 25px;
  margin-bottom: 50px;
  
}
.table_box {
  display: flex;
  justify-content: center;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.table_box_d {
  display: flex;
  justify-content: center;
}
.table_t {
  width: 100%;
  border-collapse: collapse;
}
.table_head {
  background-color: rgb(0, 160, 240);
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: left;
  color: #ffffff;
}
.table_t tr {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(16, 77, 148);
}
.table_t tr:nth-child(even) {
  background-color: rgb(166, 193, 222);
  color: black;
}
.table_t tr:nth-child(even) .button_delete {
  
  background-color: rgb(16, 77, 148);
}
.table_t tr .button_delete {
  background-color: rgb(166, 193, 222);
}
.table_t tr .button_delete i {
  color: rgb(16, 77, 148);
}
.table_t tr:nth-child(even) .button_delete i {
  color: rgb(255, 255, 255);
}

.table_head,
.table_t td,
.table_t th {
  border: 0.001mm solid #ffffff69;

  padding: 23px;
}

/*Estilizado botones edicion*/
.button_edit {
  background-color: rgb(0, 160, 240);
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
  cursor: pointer;
}
.button_edit:hover {
  background-color: rgba(0, 160, 240, 0.8);
}
.button_delete {
  background-color: rgb(16, 77, 148);
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
  cursor: pointer;
}
.button_delete:hover {
  background-color: rgba(16, 77, 148, 0.8);
}
.button_add_box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button_add {
  background-color: var(--secondary);
  border: none;
  border-radius: 7px;
  padding: 17px;
  padding-left: 17px;
  padding-right: 17px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.button_icon {
  color: #ffffff;
}
#searchFormContainer {
  margin-bottom: 20px;
}
#activoDetails {
  display: flex;
  flex-direction: column;
}
.table_box {
  margin-bottom: 10px;
}
div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line] {
 
  background-color: var(--primary)!important;
}