/*
Inicio de CSS
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}
/*inicia el diseño del menu de navegacion*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,212,255,1) 100%);
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 25px;
}

.navigation ul{
    list-style: none;

}

.header .navigation ul li{
    float: left;
    position: relative;
    margin-right: 25px;
}

.header .navigation ul li a{
 font-size: 18px;
 color: #ffffff;
 text-decoration: none;
 padding: 20px;
 display: block;
 transition: all .2s ease;
}
.header .navigation ul li a:hover{
    background-color: #685cfe;

}

.header .navigation ul li ul{
position: absolute;
right: 0;
width: 300px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,212,255,1) 100%);
display: none;
}

.header .navigation ul li ul li a{
    font-size: 15px;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}
.header .navigation ul li ul li {
    width: 100%;
}
.header .navigation ul li:hover > ul{
display: initial;
}
.menu{
    width: 45px;
    height: 35px;
}
/*fin diseño del menu de navegación*/

.image{
    margin-top: 150px;
    text-align: center;
    padding: 10px; 
    position: relative;
}


.footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  .footer .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .footer .footer-info h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer .contact-info p {
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  .footer .social-media .social-icons a {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease;
  }
  
  .footer .social-media .social-icons a:hover {
    transform: scale(1.1);
  }
  
  .footer .social-media .social-icons img {
    width: 24px;
    height: 24px;
  }
  
  .footer p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .footer .comments {
    margin-top: 20px;
  }
  
  .footer .comments h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer .comments textarea {
    width: 100%;
    padding: 10px;
    resize: vertical;
    margin-bottom: 10px;
  }
  
  .footer .comments button {
    padding: 10px 20px;
    background-color: #685cfe;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .footer .comments button:hover {
    background-color: #4d43d1;
  }